functions-framework==3.3.0
google-cloud-storage==2.14.0
google-api-python-client==2.120.0
oauth2client==3.0.0
google-auth==2.28.1
google-auth-oauthlib==1.2.0
beautifulsoup4==4.12.3
requests==2.31.0
pytz==2024.1
google-cloud-functions==1.13.3 